body {
	width:100%;
	padding:0;
	margin:0;
}

#topbar {    
		width:100%;
        padding-left:150px;
        height: 40px;
		text-align:center;                                
    }
            
body {                
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;                
    }
            
#logo {
	
	margin-top:8px;
	width:100px;
	float:left;
	margin-right:8px;
	
}

.topbar-section {
	
	float:left;
	border-left: 1px #CCCCCC solid;
	height:100%;
	
}

#signin-image {
	width:25px;
	margin:11px 15px ;
	float:left;
}

#signin-text {
	font-weight: bold;
	font-size:90%;
	position:relative;
	top:14px;
	padding-right:50px;
}

#wigglyline {
	float:left;
	height:40px;
}

#bell {
	height: 25px;
	margin: 9px 8px 0 8px;
}

#bell-div {
	float:left;
}

.topbar-menu {
	font-weight: bold;
	font-size: 90%;
	padding: 13px 15px 0 15px;
	height:27px;
}

#more-arrow {
	width:16px;
	margin-left: 20px;
}

#search-box {
	background-color: #E4E4E4;
	border:none;
	font-weight: bold;
	font-size: 14px;
	padding:5px;
	margin: 5px 0 5px 5px;
	float: left;
}

#magnifying-glass {
	height:27px;
	margin-top:5px;
}
.clear {
	clear:both;
}
#menubar1 {
	
	border-top: 1px solid #CCCCCC;
	background-color: #BB1919;
	width:100%;
	height:70px;
	
}

#menu-bar {
	
	width:100%;
	padding-left:150px;
	margin:0 auto;
	
}

h1 {
	
	padding:0;
	margin:0;
	color:white;
	font-size: 40px;
	font-weight: normal;
	padding-top: 10px;
	float:left;
}
            
            
#menubar2 {
	
	background-color: #A91717;
	width: 100%;
	
}

#menu-bar-2 {
	
	width:100%;
	padding-left:150px;
	margin:0 auto;
	height:40px;
	
}

#menu-bar-2 a {
	
	color: white;
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid #BB4545;
	font-size:14px;
	position: relative;
	top: 10px;
	
}

#menu-bar-2 a:hover {
	
	text-decoration: underline;
	
}

.no-border {
	
	border:none ;
	
}

#down-arrow {
	
	height:10px;
	position:relative;
	top:10px;
}
            
#page-container {
	
	width:100%;
	margin: 0 auto;
	
}

h2 {
	
	font-weight: normal;
	margin-top:40px;
	font-size:20px;
	border-bottom: 2px solid #a91717;
	width:105px;
	
}

h3 a {
	
	color:black;
	font-size: 30px;
	text-decoration: none;
	
}

h3 a:hover {
	
	color:#1167a8;
	
}

#article-summary {
	
	color: #5a5a5a;
	width:250px;
	float:left;
	
}

.clock {
	
	height:15px;
	position: relative;
	top:2px;
	
}

.topic-link {
	
	text-decoration: none;
	color:#a91717;
	border-left: 1px solid #CCCCCC;
	padding-left: 10px;
	
}

#article-summary a:hover {
	
	color:#1167a8;
	
}

.date {
	
	padding-right:10px;
	color: #5a5a5a;
	
}
            
#article-container {
	
	float:left;
	width:670px;
	padding-left: 150px;
	padding-top:30px;
	
}
            
#main-article-image {
	
	width:400px;
	margin-left:20px;
	
}

#article-hr {
	
	border-top:1px solid #a91717;
	width:50px;
	
}

.article-link {
	
	color:black;
	text-decoration:none;
	
}
            
#watch-listen {
	
	margin-right:0;
	width:280px;
	float:right;
	padding-right:170px;
	padding-top:30px;
}

h4 {
	
	font-weight: normal;
	font-size:20px;
	
}

.article-side-image {
	
	float:left;
	width:90px;
	margin-right:0;
	
}

.watch-listen-link {
	
	text-decoration: none;
	color:black;
	font-weight:bold;
	font-size:18px;
	
}

.watch-listen-link:hover {
	
	color:#1167a8;
	
}

.side-article {
	
	float:right;
	width:180px;
	position:relative;
	top:-18px;
}

.no-border {
	
	border-left:none;
	padding:0;
}

.border-right {
	
	border-right: 1px solid #CCCCCC;
	
}

#must-see {
	border-bottom:1px solid black;
	margin-left:150px;
	margin-right:150px;
}
.must-see11 {
	padding-left:150px;
	padding-right:150px;
}
.must-see1 {
	float:left;
}

.must-see2 {
	float:right;
}

.must {
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:2px;
}

.ballet-boy {
	width:450px;
	height:400px;
	align-items:center;
}
.week-quiz {
	height:200px;
	width:300px;
	align-items:center;
}
.five-factors {
	height:200px;
	width:300px;
	align-items:center;
}

.link {
	text-align:center;
	padding:8px;
}